config:
  core.https_address: '{{ incus_https_address }}'
networks: []
storage_pools:
- config:
{% if incus_zfs_pool_device != "" %}
    source: {{ incus_zfs_pool_device }}
{% endif %}
  name: {{ incus_storage_pool_name }}
  driver: {{ incus_storage_pool_driver }}
profiles:
- config: {}
  devices:
    eth0:
      name: eth0
      nictype: bridged
      parent: {{ incus_bridge_name }}
      type: nic
    root:
      path: /
      pool: {{ incus_storage_pool_name }}
      type: disk
  name: default
projects: []
cluster: null
